DATABASE_HOST=database
DATABASE_PORT=5432
DATABASE_NAME=teslamate
DATABASE_USER=teslamate
DATABASE_PASS=secret
ENCRYPTION_KEY=your-teslamate-encryption-key
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
API_FETCH_DELAY_SECONDS=30
SESSION_MATCH_WINDOW_MINUTES=15
